.button-component {
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: 500;
    margin: 2em auto;
}

.square {
    border-radius: 0.25em;
}

.pill {
    border-radius: 0.75em;
}